{% extends 'base.html' %}

{% block content %}
<div class="box">
    {% verbatim %}

    <div class="box-header">
        <h3 class="box-title">资产信息表</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="app">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                        aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending">ID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">服务器信息</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending">内存信息</th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            <tr v-for="item in servers.results" :key="">
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.name }}</td>
                                <td>{{ item.cabinet }}</td>
                                <td>{{ item.latest_date }}</td>
                                <td>{{ item.create_at }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">ID</th>
                                <th rowspan="1" colspan="1">服务器信息</th>
                                <th rowspan="1" colspan="1">内存信息</th>
                            
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of
                        57 entries</div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous " id="example2_previous"><a
                                    @click="getAssetsData(servers.links.previous_url)" href="#">Previous</a>
                            </li>
                            <li class="paginate_button " v-for="item in servers.links.page_links">
                                <a v-if="! item[3]" href="#" @click="getAssetsData(item[0])">{{ item[1] }}</a>
                                <a v-else href="#">...</a>
                            </li>
                            <li class="paginate_button next" id="example2_next"><a href="#"
                                    @click="getAssetsData(servers.links.next_url)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    {% endverbatim %}
</div>

{% endblock %}
{% block script %}
<script>
    // 创建一个 VUE 实例
    var app = new Vue({
        // el: 挂载点
        el: "#app",
        // 声明数据 在模版中使用的
        data: {
            // assets: '',
            servers: [],
        },
        methods: {
            getAssetsData(url) {
                axios.get(
                    url,
                ).then(
                    res => {
                        this.servers = res.data;
                    });
            },
        },
        //
        mounted() {
            axios.get("/cmdb/assets/").then(res => {
                // console.log(res.data);
                this.servers = res.data;
            });
        }
    })



</script>
{% endblock %}

<!-- ajax 获取数据 -->

<!-- $(function () {
    // 获取id为xxx的标签下的内容
    let tb = $("#tb")
    // 为id为xxx的标签绑定事件
    $("#btn").on('click', function(){
        $.ajax({
            // 发送请求 的 url 地址
            // 可以是 路由路径，也可以是http://
            url: '{% url "api:ApiView" %}',
            // 发送请求的方式
            type: 'GET',
            // 预期服务器返回的数据类型，一般取json格式，未指定则浏览器会智能判断
            dataType: 'json',
            // 是一个方法，请求成功后的回调函数。传入返回后的数据，以及包含成功代码的字符串
            success: function(res){
                // 定义一个变量
                var tags = ''
                // 循环获取到的值，并将其加到表中(如下)，
                for (let item of res) {
                    tags = tags + `   <tr>              
                        <th scope="row"></th>                
                        <td class="sorting_1">${item.id}</td>
                        <td>${item.name}</td>
                        <td>${item.cabinet}</td>
                        <td>${item.latest_date}</td>
                        <td>${item.create_at}</td>
                </tr>`
                }
                // 将变量嵌入 获取到的id 对应的 内容 中
                tb.html(tags)
            }
        });
    })
}) -->