{% extends 'base.html' %}

{% block content %}
<div class="box">
    {% verbatim %}

    <div class="box-header">
        <h3 class="box-title">服务器信息表</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="app">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                        aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending">ID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">主机名</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending">操作系统</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">系统架构</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">操作系统版本</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">内核信息</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">类型</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">型号</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">核心数</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">数目</th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            <tr v-for="item in servers.results" :key="">
                                <th scope="row">{{ item.id }}</th>
                                <td ><a href="#" @click="detail(item.id)">{{ item.host_name  }}</a></td>
                                <td>{{ item.os_name  }}</td>
                                <td>{{ item.machine }}</td>
                                <td>{{ item.os_version }}</td>
                                <td>{{ item.kernel  }}</td>
                                <td>{{ item.cpu_type }}</td>
                                <td>{{ item.cpu_model }}</td>
                                <td>{{ item.cpu_cores }}</td>
                                <td>{{ item.cpu_num  }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">ID
                                </th>
                                <th rowspan="1" colspan="1">主机名</th>
                                <th rowspan="1" colspan="1">操作系统</th>
                                <th rowspan="1" colspan="1">系统架构</th>
                                <th rowspan="1" colspan="1">操作系统版本</th>
                                <th rowspan="1" colspan="1">内核信息</th>
                                <th rowspan="1" colspan="1">类型</th>
                                <th rowspan="1" colspan="1">型号</th>
                                <th rowspan="1" colspan="1">核心数</th>
                                <th rowspan="1" colspan="1">数目</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of
                        57 entries</div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous " id="example2_previous"><a
                                    @click="getAssetsData(servers.links.previous_url)" href="#">Previous</a>
                            </li>
                            <li class="paginate_button " v-for="item in servers.links.page_links">
                                <a v-if="! item[3]" href="#" @click="getAssetsData(item[0])">{{ item[1] }}</a>
                                <a v-else href="#">...</a>
                            </li>
                            <li class="paginate_button next" id="example2_next"><a href="#"
                                    @click="getAssetsData(servers.links.next_url)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    {% endverbatim %}
</div>

{% endblock %}
{% block script %}
<script>
    // 创建一个 VUE 实例
    var app = new Vue({
        // el: 挂载点
        el: "#app",
        // 声明数据 在模版中使用的
        data: {
            // assets: '',
            servers: [],
        },
        methods: {
            getAssetsData(url) {
                axios.get(
                    url,
                ).then(
                    res => {
                        this.servers = res.data;
                    });
            },
            detail(id){
                console.log(id)
                window.location.href="/cmdb/detail_server/?id="+id
            }
        },
        //
        mounted() {
            axios.get("/cmdb/server/").then(res => {
                // console.log(res.data);
                this.servers = res.data;
            });
        }
    })
</script>
{% endblock %}