{% extends 'base.html' %}

{% block content %}
<div class="box">
    {% verbatim %}
    <div class="box-header">
        <h3 class="box-title">资产信息表</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" id="app">
        <!-- <h1>{{ rouhtml }}</h1> -->
        <h1 v-html="rouhtml"></h1>
        <!-- {{ fullname }}&nbsp;&nbsp;{{ age }} -->
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                        aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending">ID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">资产名</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending">机柜号</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending">最近查看时间</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending">创建时间</th>
                            </tr>
                        </thead>
                        <tbody id="tb">
                            <tr v-for="item in servers.results" :key="">
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.name }}</td>
                                <td>{{ item.cabinet }}</td>
                                <td>{{ item.latest_date }}</td>
                                <td>{{ item.create_at }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">ID</th>
                                <th rowspan="1" colspan="1">资产名</th>
                                <th rowspan="1" colspan="1">机柜号</th>
                                <th rowspan="1" colspan="1">最近查看时间</th>
                                <th rowspan="1" colspan="1">创建时间</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of
                        57 entries</div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous disabled" id="example2_previous"><a href="#"
                                    aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li>
                            <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1"
                                    tabindex="0">1</a></li>
                            <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2"
                                    tabindex="0">2</a></li>
                            <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3"
                                    tabindex="0">3</a></li>
                            <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4"
                                    tabindex="0">4</a></li>
                            <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5"
                                    tabindex="0">5</a></li>
                            <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6"
                                    tabindex="0">6</a></li>
                            <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2"
                                    data-dt-idx="7" tabindex="0">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    {% endverbatim %}
</div>

{% endblock %}
{% block script %}
<script>
        // 创建一个 VUE 实例
    var app = new Vue({
        // el: 挂载点
        el: "#app",
        // 声明数据 在模版中使用的
        data: {
            rouhtml:'<h1>shark</h1>',
            // msg:'hello',
            // firstname:'yang',
            // lastname:'ge',
            // age:'18',
            servers: [],
        },
        //  computed 实现属性计算
        // computed:{
        //     fullname: function(){
        //         return this.age + 1
        //     },
        // },
        //
        mounted() {
            axios.get("/cmdb/assets/").then(res => {
                // console.log(res.data);
                this.servers = res.data;
            });
        }
    })
</script>
{% endblock %}

<!-- ajax 获取数据 -->

<!-- $(function () {
    // 获取id为xxx的标签下的内容
    let tb = $("#tb")
    // 为id为xxx的标签绑定事件
    $("#btn").on('click', function(){
        $.ajax({
            // 发送请求 的 url 地址
            // 可以是 路由路径，也可以是http://
            url: '{% url "api:ApiView" %}',
            // 发送请求的方式
            type: 'GET',
            // 预期服务器返回的数据类型，一般取json格式，未指定则浏览器会智能判断
            dataType: 'json',
            // 是一个方法，请求成功后的回调函数。传入返回后的数据，以及包含成功代码的字符串
            success: function(res){
                // 定义一个变量
                var tags = ''
                // 循环获取到的值，并将其加到表中(如下)，
                for (let item of res) {
                    tags = tags + `   <tr>              
                        <th scope="row"></th>                
                        <td class="sorting_1">${item.id}</td>
                        <td>${item.name}</td>
                        <td>${item.cabinet}</td>
                        <td>${item.latest_date}</td>
                        <td>${item.create_at}</td>
                </tr>`
                }
                // 将变量嵌入 获取到的id 对应的 内容 中
                tb.html(tags)
            }
        });
    })
}) -->